<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="firsClassificator" class="main.java.ru.ncedu.lab.IsMyFavorite" />

    <bean name="secondClassificator" class="main.java.ru.ncedu.lab.IsOdd" />

    <bean name="thirdClassificator" class="main.java.ru.ncedu.lab.IsDividedThree"/>

    <bean name="AllClassify" class="main.java.ru.ncedu.lab.AllTheClassificators">
        <property name="classificators">
            <list>
                <ref bean="firsClassificator"/>
                <ref bean="secondClassificator"/>
                <ref bean="thirdClassificator"/>
            </list>
        </property>
    </bean>

</beans>